{% extends 'voice_writer/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Your Manuscripts</h2>
        <ul class="list-group">
            {% for manuscript in manuscripts %}
                <li class="list-group-item">
                    <a href="{% url 'manuscript_view' manuscript.id %}">{{ manuscript.title }}</a>
                </li>
            {% empty %}
                <li class="list-group-item">You have no manuscripts yet.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Actions</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'create_voice_recording' %}">Create New Voice Recording</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'voice_recording_list' %}">View Your Voice Recordings</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'author_profile' %}">Go to Your Profile</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
